[user]
	name = Scott Godbold
	email = scgodbold@gmail.com
[push]
    default = current
[pull]
    rebase = True
[alias]
    squash = "!f() { git rebase -i HEAD~$1; }; f"
    squashc = "!f() { git rebase -i $1; }; f"
    nbranch = "!f() { git checkout master; git pull; git checkout -b $1; }; f"
    forcepush = push -f
    fixcommit = commit -m 'fixes'
    updatemaster = "!f() { cur_branch=$(git symbolic-ref --short HEAD); git checkout master; git pull origin master; git checkout $cur_branch; }; f"
    draft = "!gerrit_review -d"
    review = "!gerrit_review"
    dreview = "!gerrit_review -b develop"
    ddraft = "!gerrit_review -d -b develop"
    amend = "commit --amend --no-edit"
    amendAndReview = "!f() { git add -u; git amend; git review; };f"
    ego = "!git log --no-merges --author=$USER --shortstat | awk '/^ [0-9]/ { f += $1; i += $4; d += $6 } END { printf(\"%d files changed, %d insertions(+), %d deletions(-)\", f, i, d) }'"
[core]
    excludesfile = ~/.gitignore
    pager = less -S
[init]
    templatedir = ~/.git_template
[include]
    path = .gitconfig.local
