[user]
	name = Scott Godbold
	email = scgodbold@gmail.com
[push]
    default = current
[pull]
    rebase = True
[alias]
    squash = "!f() { git rebase -i HEAD~$1; }; f"
    squashc = "!f() { git rebase -i $1; }; f"
    nbranch = "!f() { git checkout master; git pull; git checkout -b $1; }; f"
    forcepush = push -f
    fixcommit = commit -m 'fixes'
    updatemaster = "!f() { cur_branch=$(git symbolic-ref --short HEAD); git checkout master; git pull origin master; git checkout $cur_branch; }; f"
